{% extends "base.html" %}
{% load static %}
<!doctype html>
<html lang="en">

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
</head>
{% block content %}
<body>

  <header class="top">
    <div id="mySidenav" class="sidenav">
      <a href="javascript:void(0)" class="closebtn" onclick="closeNav()">&times;</a>
      <a href="/">Acceuil</a>
      <a href="about">À propos</a>
      <a class="active" href="profil">Mon Blog</a>
      {% if user.is_authenticated %}
      <a href="authentification/deconnexion">Déconnexion</a>
      {% endif %}
    </div>

    <nav id="navbar" class="sticky">
      <!-- container Start-->
      <div class="container">
        <!--Row Start-->
        <div class="row">
          <div class="col-lg-4 col-xs-9">
            <a href="index.html"><img src="{% static 'images/logoproject.png'%}" alt="logo"></a>
          </div>
          <div class="col-lg-8 col-xs-3">
            <div class="social-icons square">
              <!-- Page Content -->
              <div id="page-content-wrapper">
                <span class="slide-menu" onclick="openNav()"><i class="fa fa-bars" aria-hidden="true"></i></span>
              </div>
            </div>
          </div>
        </div>
        <!--Row Ended-->
      </div>
      <!-- container Ended-->
    </nav>
  </header>


  <!-- Page Content -->
  <div>

    <div class="row">
      <!-- Sidebar Widgets Column -->
      <div class="col-lg-2 liste col-sm-12 ">
        <div class="">
          <div>
            <img class="user" src="../static/images/user.jpg">
          </div>
          <div>
            <h1 class="center">Utilisateur</h1>
            <p class="center">Données </p>
            <button type="button" class="modifier btn btn-outline-success " onclick="modifier()">Modifier</button>

          </div>
        </div>
      </div>
      <div class="col-lg-8">
        <div class="Ajout_recette panel panel-default">
          <button type="button" class="ajouter btn btn-outline-success " onclick="ajouter()"><i
              class="fa fa-plus"></i></button>


          <h5></h5>


          <form class="ajout" style="display: none;" method="POST">
            {% csrf_token %}
            <div class="form-row ">

              <div class="form-group col-md-6">
                <label>Nom de la recette</label>
                <input type="text" name="titre" class="form-control" id="inputEmail4" placeholder="Nom de la recette">
              </div>
              <div class="form-group col-md-6">
                <label>Ingredients</label>
                <input type="text" class="form-control" id="inputPassword4" placeholder="Ingredients">
              </div>
            </div>
            <div class="form-group">
              <label for="inputAddress">Preparation</label>
              <input type="text" class="form-control" placeholder="Preparation">
            </div>
            <div class="form-group">
              <label for="inputAddress2">Image</label>
              <input type="text" class="form-control" placeholder="Image">
            </div>
            <div class="form-row">

              <div class="form-group col-md-4">
                <label for="inputState">Type</label>
                <select id="inputState" class="form-control">
                  <option selected>sucrés</option>
                  <option>Salés</option>
                  <option>Boissons</option>
                </select>
              </div>
              <div class="form-group col-md-2">
                <label for="inputZip">Image</label>
                <input type="file">
              </div>
            </div>

            <button type="submit" class="btn btn-outline-success">Ajouter</button>
            <button type="reset" class="btn btn-outline-success" onclick="annuler_Ajout()">Annuler</button>
          </form>
          <form class="modif" style="display: none;" method="POST">
            {% csrf_token %}
            <div class="form-row ">

              <div class="form-group col-md-6">
                <label>Nom</label>
                <input type="text" name="nom" class="form-control"  placeholder="Nom ">
                <label>Prénom</label>
                <input type="text" name="nom" class="form-control"  placeholder="Préom ">
             
              </div>
              <div class="form-group col-md-6">
                <label>Date de naissance</label>
                <input type="text" class="form-control"  placeholder="Ingredients">
              </div>
            </div>
          
           
            <div class="form-row">
              <div class="form-group col-md-2">
                <label for="inputZip">Image</label>
                <input type="file">
              </div>
            </div>

            <button type="submit" class="btn btn-outline-success">Modifier</button>
            <button type="reset" class="btn btn-outline-success" onclick="annuler_Modif()">Annuler</button>
          </form>
        </div>
        <section class="recettes  card-group">

          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="col-sm-12 col-lg-12 box">
              <div class="card">
                <img src="../static/images/item-3.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Recette 1</p>
                </div>
              </div>

            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="col-sm-12 col-lg-12 box">
              <div class="card">
                <img src="../static/images/item-2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Recette 1</p>
                </div>
              </div>

            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="col-sm-12 col-lg-12 box">
              <div class="card">
                <img src="../static/images/item-1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Recette 2</p>
                </div>
              </div>

            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="col-sm-12 col-lg-12 box">
              <div class="card">
                <img src="../static/images/item-3.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Recette 1</p>
                </div>
              </div>

            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="col-sm-12 col-lg-12 box">
              <div class="card">
                <img src="../static/images/item-2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Recette 1</p>
                </div>
              </div>

            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="col-sm-12 col-lg-12 box">
              <div class="card">
                <img src="../static/images/item-1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Recette 2</p>
                </div>
              </div>

            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="col-sm-12 col-lg-12 box">
              <div class="card">
                <img src="../static/images/item-3.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Recette 1</p>
                </div>
              </div>

            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="col-sm-12 col-lg-12 box">
              <div class="card">
                <img src="../static/images/item-2.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Recette 1</p>
                </div>
              </div>

            </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-12">
            <div class="col-sm-12 col-lg-12 box">
              <div class="card">
                <img src="../static/images/item-1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-text">Recette 2</p>
                </div>
              </div>

            </div>
          </div>

        </section>
      </div>
    </div>
  </div>
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script>
   

    function annuler_Ajout(){
      let form = document.querySelector('.ajout');
      form.style.display = "none";
      let titre = document.querySelector('h5');

      titre.innerHTML = "";
      document.querySelector('.ajouter').disabled = false;
      
    }

    function ajouter() {
      let form = document.querySelector('.ajout');
      let titre = document.querySelector('h5');
      form.style.display = "block";
      titre.innerHTML="Ajouter une recette"
      document.querySelector('.ajouter').disabled = true;
    }
    function annuler_Modif(){
      let form = document.querySelector('.modif');
      form.style.display = "none";
      let titre = document.querySelector('h5');
      titre.innerHTML = "";
      document.querySelector('.modifier').disabled = false;
      
    }
    function modifier() {
      let form = document.querySelector('.modif');
      let titre = document.querySelector('h5');
      form.style.display = "block";
      titre.innerHTML="Modifier le profil"
      document.querySelector('.modifier').disabled = true;
    }
  </script>
</body>
{% endblock %}

</html>